.nodesettings {
  &_container {
    min-height: 100%;
    display: flex;
    flex-direction: row;
  }
  &_expander {
    min-height: 100%;
    // center the icon
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 3px 3px;
  }

  &_content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0 5px;
    overflow: auto;

    &.expanded {
      width: 250px;
    }
    &.collapsed {
      width: 0;
    }

    // animation for expanding/collapsing
    transition: width 0.5s;
  }

  &_section {
    margin-bottom: 10px;
    margin-left: 0.5rem;
  }
  &_component {
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
  }
}
