@use "../layout/htmlelements.scss";

.funcnodesreactflowheader {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  margin-top: 8px;
  top: 0;
  left: 0;
  z-index: 1;

  .headerelement {
    height: 100%;
    // center items vertically
    display: flex;
    // align-items: center;
    margin: 4px 4px 4px 4px;
    position: relative;
    white-space: nowrap;
  }

  & .statusbar {
    // max-width: 500px;
    height: 1.5rem;
    background-color: var(--funcnodesbackground2);
    display: inline-block;
    margin: 2px 4px 0px 4px;
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;
    flex-grow: 1;

    &-progressbar {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background-color: var(--funheadercolor);
      display: inline-block;
    }
    &-message {
      position: absolute;
      left: 4px;
      right: 4px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 0.8rem;
      color: var(--funheadercolor);
      mix-blend-mode: difference;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;


    }
  }
}

.headermenucontent {
  @extend .basicstyleelement;

  max-height: 90vh;
  overflow: auto;
  padding: 5px;
  border-radius: 0.25rem;
  z-index: 2;
}

.headermenuitem {
  padding: 0 5px;
  &[data-highlighted] {
    background-color: var(--funcnodesbackground_light);
  }

  &[data-state="open"] {
    background-color: var(--funcnodesbackground_light);
  }

  &[data-state="checked"] {
    background-color: var(--funcnodesbackground_light);
    color: #fff;
  }
}
