@import "./layout/htmlelements.scss";
:root {
  --funheadercolor: #00d9ff; // Dark background color
  --funcnodesbackground1: hsl(243, 26%, 13%); // Dark background color
  --funcnodesbackground2: hsl(245, 22%, 22%); // Dark background color
  --funcnodesbackground_light: hsl(240, 22%, 38%);
  --containerboarderradius: 1rem;
  --funcnodestextcolor1: #ffffff; // Dark background color
}

.funcnodesreactflowcontainer {
  width: 100%;
  height: 100%;
  background-color: var(--funcnodesbackground1); // Dark background color
  position: relative;
  display: flex;
  flex-direction: column;
  color: var(--funcnodestextcolor1);

  & * {
    box-sizing: border-box;
  }
}

.funcnodesreactflowbody {
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.reactflowlayer {
  flex-grow: 1;
  position: relative;
  overflow: hidden;
  background-color: var(--funcnodesbackground2); // Dark background color
  margin: 0.5rem;
  border-radius: var(--containerboarderradius);
}

.vscrollcontainer {
  overflow-y: auto;
  overflow-x: hidden;
  flex-grow: 1;
  padding: 0.5rem;
  box-sizing: border-box;
}

.workerselect {
  max-width: 140px;
}
.workerselectoption {
  &.selected {
    color: var(--funcnodestextcolor1);
  }
  &.active {
    color: green;
  }
  &.inactive {
    color: red;
  }
}
