.tablecontainer {
  overflow: auto;
  background-color: white;
  min-height: 20rem;
}
.tableHead {
  color: var(--fn-primary-color) !important;
  background-color: var(--fn-app-background);
  font-weight: bold !important;
}

.tableheadercolor {
  color: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
}

.indexcol {
  background-color: var(--fn-container-background);
  color: var(--fn-primary-color) !important;
  font-family: inherit !important;
  font-weight: inherit !important;
}
